[Unit]
Description=Niita App by {{ item.name }}
After=mysql.service

[Service]
User={{ player_name }}
Type=simple
EnvironmentFile=/home/{{ player_name }}/.env
WorkingDirectory={{app_dir}}/{{ item.name }}
ExecStart={{ item.command }}

[Install]
WantedBy=multi-user.target